<div class = "coachList">
    <div class="flex-container">
        <div>Name</div>
        <div>Type of Training</div>
        <div></div>  
    </div>
    <div>
        <div>   
            <ul >
                <li class="flex-container2" *ngFor="let coach of $coaches | async">
                    <div>{{ coach.firstName | json}}</div>
                    <div>{{ coach.typeOfTraining | json}}</div>
                    <div><button (click)="getCoachById(coach.id)">Edit</button> | <button><a routerLink="/coach/{{coach.id}}" >Details</a></button> | <button (click)="deleteCoach(coach.id)">Delete</button>
                    </div>

                </li>
            </ul>
        </div> 
    </div>
    
</div>

