<div class="container">

  <form [formGroup]="coachForm" (ngSubmit)="onSubmit(coachForm.value)">
    <label>
      Id:
      <input type="text" formControlName="id">
    </label>
    
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
    
    <label>
      Mobile Number:
      <input type="text" formControlName="mobileNumber">
    </label>
    
    <label>
      Type of training:
      <input type="text" formControlName="typeOfTraining">
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
